<h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { multipart: true, :method => :put, :role => 'form'}) do |f| %>
  <h4><%= devise_error_messages! %></h4>

  <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div> -->
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, :placeholder => 'First name'%>
    </div>
    <div class="col-xs-6">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, :placeholder => 'Last name'%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.label :age %><br />
      <%= f.number_field :age, :autofocus => true, :placeholder => 'Age', :method => "put"%><br />

    </div>
    <div class="col-xs-6">
      <%= f.label :birthday %><br />
      <%= f.date_field :birthday, :autofocus => true, :placeholder => 'Birthday'%>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="col-xs-6">
      <%= f.label :password %><br />
      <%= f.password_field :current_password, autocomplete: "off", :placeholder => "confirm password" %>
    </div>
  </div>
<br />
  <div class="row">
    <div class="col-xs-6">
    <%= button_to "Back", user_session_path %><br />
    </div>
    <div class="col-xs-6">
    <%= f.submit "Update Account" %>    </div>
  </div>


  </div>
<% end %>
<br />
<br />
  <div class="field">
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
