<head></head>

<body>

  <%= link_to "Sign up", new_user_registration_path, class: 'navbar-brand'  %>

  <%= link_to 'Logout', destroy_user_session_path, class: 'navbar-brand',  :method => :delete %>
  <%= link_to "Login",  new_user_session_path, class: 'navbar-brand'  %>
  
  <div id="vcontainer">

    <!-- <%= video_tag "beach1.mp4", autoplay: "true", loop: "true", muted: "true", id: "video", :controls => false %> -->
    <div id="splashtext">
      Share your moment,<br/>
      experience the world.
    </div>

    <div id='sbuttons'>
      <%= link_to "About", about_path %>
      <%= link_to "Signup", new_user_registration_path %>

    </div>

  </div>

</body>
