
  <h1>Create a Moment</h1>
   <%= simple_form_for @moment do |f| %>
   <%= f.input :name %>
   <%= f.input :location %>
   <%= f.label :When %>
   <%= f.date_field :date, class: "form-control" %>
   <%= f.input :description %>
   <%= f.button :submit, :method => :put %>
   <%end%>
