<!DOCTYPE html>
<html>
  <head>
    <title>Out App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<nav>
  <%= render 'layouts/navigation_links' %>
</nav>





    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
    <%= yield %>

  </body>
</html>
